# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000

# Feast
FEAST_REGISTRY_PATH=file:///app/feast_repo/registry.db
FEAST_OFFLINE_STORE=file

# FastAPI
API_PORT=8000
API_HOST=0.0.0.0

# Database (si aplica)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=wells_db
DB_USER=postgres
DB_PASSWORD=password

# Ray
RAY_NAMESPACE=production

# Airflow
AIRFLOW_HOME=/opt/airflow
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql://airflow:airflow@postgres:5432/airflow
