# Data
data/raw/
data/processed/
*.csv
*.parquet
# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
# MLflow
mlruns/
mlartifacts/
# Environment
.env
# Docker
docker-volumes/
# IDE
.vscode/
.idea/
# OS
.DS_Store
# Feast
feast_repo/data/
feast_repo/registry.db
# Notebooks checkpoints
.ipynb_checkpoints/
